/* --------------------------GLOBAL STYLES---------------------- */
:root {
    --general-text-color: #757575;
    --headline-text-color: #212121;
    --general-background-color:#FFFFFF;
    --accent-color-blue: #2196F3;
    --background-color-buttons: #F5F4FA
}
/* body */
body {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--general-text-color);
background-color: var(--general-background-color);
}
.list-none {list-style: none;}
.link-none {text-decoration: none;}
.site-nav .link.current {
color: var(--accent-color-blue);}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;}
/* --------------------------STUDIO--------------------------------- */
/* header */
.logo {
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
color: var(--accent-color-blue);
}
.logo span {color: #000000;}

/* site-nav */
.link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--headline-text-color);
}
.link:hover,
.link:focus {
color: var(--accent-color-blue);}

/* site-contacts */
.contact {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: inherit; 
}
.contact:hover,
.contact:focus {
color: var(--accent-color-blue);}

/* hero */
.hero {
background-color: #2F303A;}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: var(--general-background-color);
}
/* button */
.hero-button {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
color: var(--general-background-color);
background-color: var(--accent-color-blue);
cursor: pointer;
}
.hero-button:hover {
background-color: #188CE8;}

/* section-advantage */
.advantage {
background-color: var(--general-background-color);
}
.advantage-title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--headline-text-color);
}
.advantage-text {
line-height: 1.71;
}

/* section-services */
.services {
background-color: var(--general-background-color);
}
.section-title {
font-weight: 700;
font-size: 36px;
color: var(--headline-text-color);
}
/* section-team */
.team {
background-color: var(--background-color-buttons);
}
.team-title {
font-weight: 500;
font-size: 16px;
color: var(--headline-text-color);
}
.team-text {
font-size: 16px;
}

/* footer */
footer {
background-color: #2F303A;
}
.logo-address {
font-family: Raleway;    
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.2;
color: var(--accent-color-blue);
}
.logo-address span {
color: var(--general-background-color);    
}
address {
font-style: inherit;
line-height: 1.71; 
}
.map-address { 
color: var(--general-background-color);   
}
.map-address:hover, 
.map-address:focus {
color: var(--accent-color-blue);  
} 
.contact-address {
color: rgba(255, 255, 255, 0.6);
}
.contact-address:hover,
.contact-address:focus {
color: var(--accent-color-blue);  
}
/*----------------------------- PORTFOLIO -----------------------------*/

/* filter buttons */
.btn-filter {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--headline-text-color);
background-color: var(--background-color-buttons);
cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
color: var(--general-background-color);
background: var(--accent-color-blue);}

    .examples-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--headline-text-color);
    }

    .examples-text {
font-size: 16px;
line-height: 1.87px;
color: var(--general-text-color);
    }