:root {
    --general-text-color: #757575;
    --headline-text-color: #212121;
    --general-background-color:#FFFFFF;
    --accent-color-blue: #2196F3;
    --background-color-buttons: #F5F4FA
}

/* body */
body {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1,2;
letter-spacing: 0.03em;
color: var(--general-text-color);
background-color: var(--general-background-color);
}
ul {list-style: none;}
a {text-decoration: none; }

/* header */
.logo {
font-family: Raleway;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1,2;
color: var(--accent-color-blue);
}
.logo span {color: #000;}

/* site-nav */
.site-nav  .link {
font-weight: 500;
letter-spacing: 0.02em;
color: var(--headline-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color-blue);
}
.site-nav .link.current {
color: var(--accent-color-blue);
}

/* site-contacts */
.site-contacts .contact {
font-weight: 500;
letter-spacing: 0.02em;
color: inherit; 
}

.site-contacts .contact:hover,
.site-contacts .contact:focus {
color: var(--accent-color-blue);
}

/* hero */
.hero {
background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1,4;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: var(--general-background-color);
}
/* button */
.hero-button {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1,9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--general-background-color);
background-color: var(--accent-color-blue);
}
.hero-button:hover {
background-color: #188CE8;
}
/* section-advantage */
.advantage .advantage-title {
font-weight: 700;
text-transform: uppercase;
color: var(--headline-text-color);
}
.advantage .advantage-text {
line-height: 1,7;
}

/* section-services */
.section-title {
font-weight: 700;
font-size: 36px;
color: var(--headline-text-color);
}
/* section-team */
.team {
background-color: var(--background-color-buttons);
}
.team .team-title {
font-weight: 500;
font-size: 16px;
color: var(--headline-text-color);
}
.team .team-text {
font-size: 16px;
}

/* footer */
footer {
background-color: #2F303A;
}
.logo-footer {
font-family: Raleway;    
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1,2;
color: var(--accent-color-blue);
}
.logo-footer span {
color: var(--general-background-color);    
}
.address .map-footer { 
font-style: normal;  
line-height: 1,7;
color: var(--general-background-color);   
}
.address .map-footer:hover, 
.address .map-footer:focus {
color: var(--accent-color-blue);  
} 
.address .contact-footer {
font-style: normal;
line-height: 1,7;
color: rgba(255, 255, 255, 0.6);
}
.address .contact-footer:hover,
.address .contact-footer:focus {
color: var(--accent-color-blue);  
}
/* PORTFOLIO */

/* filter buttons */
     .buttons-filter .filter {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,6;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background-color: #F5F4FA;
cursor: pointer;
}

.buttons-filter .filter:hover,
.buttons-filter .filter:focus {
color: #FFFFFF;
background: #2196F3;
    }