/* header */
header {background-color:#FFFFFF;}
.logo {
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color: #2196F3;
}
.logo span {color: #000;}
ul {list-style: none;}
a {text-decoration: none; }
/* site-nav */
.site-nav  a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #212121;
}
.site-nav a:hover,
.site-nav a:focus {
color: #2196F3;
}
/* contacts */
.contacts a {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #757575;
}
.contacts a:hover,
.contacts a:focus {
color: #2196F3;
}

/* hero */
.hero {background-color: #2F303A;}
.hero-title {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.order-service {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
background-color: #2196F3;
}

/* body */
body {color: #757575;
font-family: Roboto;
}

/* section-advantage */
.section-advantage {
background-color: #FFFFFF;
font-family: Roboto;
font-style: regular;
font-size: 14px;
line-height: 24px;

}
.advantage-title {
font-family: Roboto;
font-style: bold;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #212121;
}

/* advantage-title-none */
.advantage-title {
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color:#212121;
}
/* section-services */
.section-services {background-color: #FFFFFF;}
.section-title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color:#212121;
}
/* section-team */
.section-team {background-color: #F5F4FA;}
.team-title {
font-style: medium;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color:#212121;
}

/* footer */
footer {
background-color: #2F303A;
}
.logo-footer {
font-family: Raleway;    
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
color: #2196F3;
}
.logo-footer span {
color: #FFFFFF;    
}
.map a {    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;    
}
.mail a, .tel a {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}





/* цвета текста
основной - черный             #212121
вторичный - серый             #757575
белый                         #FFFFFF
команда                       #F5F4FA
герой, футер                  #2F303A
акцент - синий                #18A0FB
 */